*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #2e2f42;
    font-style: normal;
}

ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

    /* PAGE HEADER */

    /* TOP LINE */

.top-line {
    border-bottom: 1px solid #E7E9FC;
 }

.top-line .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* NAVIGATION SECTION */

.navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
    width: 100%;
}

.navigation .logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 72px;
}

.navigation .logo-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e2f42;
    line-height: 1.17;
    letter-spacing: 0.03em;
}


.nav-menu {
     display: flex;
     gap: 40px;
}

.nav-link { 
    padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* CONTACTS SECTION */

.contacts {
    font-style: normal;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    min-width: 300px;
}

.contact-list {
    display: flex;
    gap: 40px;
    white-space: nowrap;
 
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
}

.contact-item {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: 400;
    color: #434455;
}

/* HERO SECTION */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.07;
    letter-spacing: 0.02em;
    display: block;
    text-align: center;
    max-width: 496px;
}

/* BUTTON */

.action-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    background-color: #4d5ae5;
    color: #FFFFFF;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    border: none;
}

.action-btn:hover,
.action-btn:focus {
    background-color: #404BBF;
}

/* FEATURES */

.visually-hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    text-align: left;
    gap: 24px;
} 

/*  work on this part
.feature {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc((100% - (3*24px)) / 4;
    }
 */

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.feature .subtitle {
    text-align: left;
    margin-bottom: 8px;
}

.subtitle-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* OUR TEAM SECTION */

.team {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-subtitle, 
.portolio-subtitle {
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-size: 36px;
    font-weight: 700;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-member {
text-align: center;
background-color: #FFFFFF;
}

/* PORTFOLIO SECTION */

.portolio-item {
text-align: center;
background-color: #FFFFFF;
}

/* finish setting up portfolio section */

/* FOOTER SECTION */

.footer {
background-color: #2E2F42;
}

.logo-footer {
font-family: "Raleway", sans-serif;
color: #4D5AE5;
text-transform: uppercase;
text-decoration: none;
line-height: 1.17;
letter-spacing: 0.03em;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
}

.logo-footer-accent { 
color: #F4F4FD;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

/* review & finish footer section */